# Eclipse
.classpath
.project
.settings/

# Intellij
.idea/
*.iml

#Vim
*~

# Backend
backend/target/
backend/pom.xml.tag
backend/pom.xml.releaseBackup
backend/pom.xml.versionsBackup
backend/pom.xml.next
backend/release.properties
backend/src/main/resources/META-INF/resources/

# Frontend
frontend/bower_components/
frontend/mock/node_modules/
frontend/node_modules/
frontend/dist/
