sudo: false

language: java

addons:
  apt:
    sources:
      - mongodb-upstart
      - mongodb-3.2-precise
    packages:
      - mongodb-org-server
      - mongodb-org-shell

services: mongodb

jdk: oraclejdk8

cache:
  directories: 
          - $HOME/.m2/repository
          - ./frontend/node_modules

before_install: if [[ `npm -v` != 3* ]]; then npm i -g npm@3; fi

install:
  - echo "TRAVIS_TAG = $TRAVIS_TAG"
  - echo "<settings><servers>" > ~/.m2/settings.xml
  - echo "<server><id>bintray</id><username>\${env.BINTRAY_USER}</username><password>\${env.BINTRAY_KEY}</password></server>" >> ~/.m2/settings.xml
  - if [[ $TRAVIS_TAG = v* ]]; then echo "<server><id>docker.io</id><username>\${env.DOCKER_USER}</username><password>\${env.DOCKER_PASSWORD}</password></server>" >> ~/.m2/settings.xml ; fi
  - echo "</servers></settings>" >> ~/.m2/settings.xml
  - if [[ $TRAVIS_PULL_REQUEST = false ]] && [[ $TRAVIS_BRANCH = master || $TRAVIS_BRANCH = dev-* ]] || [[ $TRAVIS_TAG = v* ]]; then export GOAL=install; else export GOAL=install; fi
#  - if [[ $TRAVIS_TAG = v* ]]; then export ADDITIONAL_PROFILES=release; (cd backend && mvn -q -U org.seedstack:seedstack-maven-plugin:release); else export ADDITIONAL_PROFILES=snapshots; fi

script: chmod +x ./build.sh && ./build.sh

after_success: 
#  - (cd backend && mvn -q coveralls:report -DrepoToken=$COVERALLS_TOKEN)
  - if [[ $TRAVIS_TAG = v* ]]; then (cd backend && mvn -q docker:build docker:push)
  
