<div id="component-detail-docs" layout-padding layout="row" layout-xs="column" style="padding: 0">
    <md-content ng-if="$ctrl.component.docs.length" class="md-whiteframe-1dp" style="padding: 0">
        <md-tabs md-dynamic-height md-border-bottom md-swipe-content style="background-color: #F6F6F6">
            <md-tab ng-repeat="doc in $ctrl.component.docs" label="{{ $ctrl.decodeURIComponent(doc._links.self.href) | displayDocName }}">
                <md-content class="md-padding" style="background-color: #fafafa">
                    <div class="markdown-body" ng-include="$ctrl.decodeURIComponent(doc._links.self.href)"></div>
                </md-content>
            </md-tab>
        </md-tabs>
    </md-content>
    <div flex>
        <header ng-if="!$ctrl.component.docs.length" layout="column" layout-align="center center">
            <h3 class="md-title muted">No documents available</h3>
        </header>
    </div>
    <div flex="30" flex-xs="100" layout-align="end center" layout-align-xs="center" flex-order-xs="1">
        <div ng-include="'src/views/details/aside.tpl.html'"></div>
    </div>
</div>
