<div id="component-detail-info" layout="row" layout-xs="column" style="padding: 0">
    <div id="component-detail-readme" flex="70" flex-xs="100" flex-order-xs="2">
        <md-content ng-if="$ctrl.component.readme" class="md-whiteframe-1dp inherit-background" flex layout-padding style="padding: 0">
            <div class="markdown-body" ng-include="$ctrl.component.readme"></div>
        </md-content>
        <header ng-if="!$ctrl.component.readme" layout="column" layout-align="center center">
            <h3 class="md-title muted">No README available</h3>
        </header>
    </div>
    <div flex="30" flex-xs="100" layout-align="end center" layout-align-xs="center" flex-order-xs="1">
        <div ng-include="'src/views/details/aside.tpl.html'"></div>
    </div>
</div>

<div id="component-detail-comment" layout="column" layout-padding layout="row" layout-xs="column" style="margin-top: 20px;">
    <div hub-comment component="$ctrl.component"></div>
</div>
