<div id="component-detail-wiki" layout-padding layout="row" layout-xs="column" style="padding: 0">
    <div id="component-detail-wiki-page" flex="70" flex-xs="100" flex-order-xs="2">
        <md-content ng-if="$ctrl.component.$embedded('wiki').length" class="md-whiteframe-1dp inherit-background" flex layout-padding style="padding: 0">
            <div style="float: right" layout="row" layout-align="end center">
                <md-button ng-click="$ctrl.editWiki($ctrl.activeWiki)"><i class="fa fa-pencil"></i> Edit </md-button>
            </div>
            <div class="markdown-body" ng-include="$ctrl.activeWiki"></div>
        </md-content>
        <header ng-if="!$ctrl.component.$embedded('wiki').length" layout="column" layout-align="center center">
            <h3 class="md-title muted">No Wiki available</h3>
        </header>
    </div>
    <div flex="30" flex-xs="100" layout-align="end center" layout-align-xs="center" flex-order-xs="1">
        <aside id="component-detail-wiki-list" layout="column" flex-xs="100">
            <section>
                <md-content class="md-whiteframe-1dp" style="overflow: hidden; background-color: inherit">
                    <div layout="row" layout-align="end" style="float: right;">
                        <md-button ng-click="$ctrl.openWiki()"
                                   class="md-primary md-fab md-mini"
                                   aria-label="Manage component">
                            <md-tooltip md-direction="left">
                               Add a new wiki
                            </md-tooltip>
                            <md-icon md-font-set="material-icons">note_add</md-icon>
                        </md-button>
                    </div>
                    <md-subheader class="md-no-sticky" style="background-color: inherit">
                        Wiki pages
                    </md-subheader>
                    <md-list>
                        <md-list-item ng-repeat="wiki in $ctrl.component.$embedded('wiki')">
                            <md-button data-ng-click="$ctrl.setActiveWiki(wiki._links.self.href)"
                                       ng-class="$ctrl.activeWiki === wiki._links.self.href ? 'md-primary' : 'md-accent'"
                                       layout="row" layout-align="start center" flex>
                                <span>
                                    <i class="fa fa-file-text-o"></i> {{ wiki._links.self.href | displayDocName }}
                                </span>
                            </md-button>
                        </md-list-item>
                    </md-list>
                </md-content>
            </section>
        </aside>
    </div>
</div>
