<div id="component-detail" layout-padding layout="column">
    <div id="component-detail-navigation" flex layout="row" layout-sm="column" layout-xs="column">
        <div flex="none">
            <md-button class="md-accent" ng-href="/#!/">
                <md-icon md-font-set="material-icons">keyboard_backspace</md-icon>
                Back
            </md-button>
        </div>
        <div flex layout="row" layout-align="end center" layout-align-xs="center center" layout-wrap>
            <md-button class="md-accent" ng-href="">Docs</md-button>
            <md-button class="md-accent" ng-href="">Wiki</md-button>
            <md-button class="md-accent" ng-href="">Source</md-button>
            <md-button class="md-accent" ng-href="">Issues</md-button>
            <md-button class="md-accent" ng-href="">Help</md-button>
        </div>
    </div>
    <div id="component-detail-header" layout="row" layout-xs="column" layout-wrap>
        <div layout="row" flex-gt-xs="20" layout-align="center center" layout-align-xs="center">
            <img style="max-width: 100%; height: auto" ng-src="{{$ctrl.component.icon}}" alt="Component logo">
        </div>
        <div layout-xs="column" layout-align-xs="center center" flex id="component-detail-title">
            <div layout="column" layout-align="center" layout-align-xs="center center" class="md-list-item-text"
                 style="margin-left: 20px;">
                <h1 class="md-display-1">
                    {{ $ctrl.component.name }}
                </h1>
                <h2 style="margin-top: 0;" class="md-subhead muted">
                    Owned by {{ $ctrl.component.owner }}
                </h2>
            </div>
        </div>
        <div id="component-detail-actions" layout-xs="row" layout-align-xs="center" style="margin-top: 20px">
            <md-button ng-show="$ctrl.component.isStarred" ng-click="$ctrl.rateComponent($ctrl.component)" aria-label="Star" layout="row" layout-align="start center" title="unstar this component">
                    <md-icon md-font-set="material-icons">star_rate</md-icon> {{ $ctrl.component.stars }}
            </md-button>
            <md-button ng-show="!$ctrl.component.isStarred" ng-click="$ctrl.rateComponent($ctrl.component)" aria-label="Star" layout="row" layout-align="start center" title="star this component">
                <md-icon md-font-set="material-icons">star_border</md-icon> {{ $ctrl.component.stars }}
            </md-button>
            <md-button class="md-raised">Manage</md-button>
            <md-button class="md-raised md-primary">Install</md-button>
        </div>
    </div>
    <div id="component-detail-info" layout-padding layout="row" layout-xs="column" style="margin-top: 20px;">
        <div id="component-detail-readme" flex="75" flex-xs="100" flex-order-xs="2">
            <md-content class="md-whiteframe-1dp" flex layout-padding>
                <div class="markdown-body" ng-include="$ctrl.component.readme"></div>
            </md-content>
        </div>
        <div flex="25" flex-xs="100" layout-align="end center" layout-align-xs="center" flex-order-xs="1">
            <aside id="component-detail-meta" layout="column" flex-xs="100">
                <section id="component-detail-meta-usage" class="md-whiteframe-1dp">
                    <md-content style="overflow: hidden">
                        <md-list>
                            <md-list-item>
                                <md-icon md-font-set="material-icons">change_history</md-icon>
                                <p> Latest: {{ $ctrl.component.version }} </p>
                            </md-list-item>
                            <md-list-item>
                                <md-icon md-font-set="material-icons">gavel</md-icon>
                                <p> License:{{ $ctrl.component.license }} </p>
                            </md-list-item>
                        </md-list>
                    </md-content>
                </section>
                <div class="spacer"></div>
                <section id="component-detail-meta-general" class="md-whiteframe-1dp">
                    <md-content style="overflow: hidden">
                        <md-subheader class="md-no-sticky">Used in 12 projects</md-subheader>
                        <md-list>
                            <md-list-item>
                                <md-icon md-font-set="material-icons">important_devices</md-icon>
                                <p> Project 1 </p>
                            </md-list-item>
                            <md-list-item>
                                <md-icon md-font-set="material-icons">important_devices</md-icon>
                                <p> Project 1 </p>
                            </md-list-item>
                            <md-list-item>
                                <md-icon md-font-set="material-icons">important_devices</md-icon>
                                <p> Project 1 </p>
                            </md-list-item>
                        </md-list>
                    </md-content>
                </section>
            </aside>
        </div>
    </div>
    <div id="component-detail-comment" layout="column" layout-padding layout="row" layout-xs="column" style="margin-top: 20px;">
        <div hub-comment component="$ctrl.component"></div>
    </div>
</div>