<main layout-padding layout="column" id="home">
    <header layout="column">
        <h3 class="md-title muted">Popular</h3>
    </header>
    <section layout="row" layout-wrap layout-xs="column">
        <hub-card ng-repeat="card in home.popularComponents" card="card" on-click="home.view(card)"></hub-card>
    </section>
    <header layout="column">
        <h3 class="md-title muted">Recent</h3>
    </header>
    <section layout="row" layout-wrap layout-xs="column">
        <hub-card ng-repeat="card in home.recentComponents" card="card" on-click="home.view(card)"></hub-card>
    </section>
</main>