<div layout-padding layout="column" id="home">
    <div layout="column">
        <h3 class="md-title muted">Popular</h3>
    </div>
    <div layout="row" layout-wrap layout-xs="column">
        <md-card flex="30" flex-xs="100" md-ink-ripple data-ng-click="home.details()">
            <md-card-header>
                <md-card-avatar>
                    <img src="http://seedstack.org/img/logos/seedstack-logo-round.svg">
                </md-card-avatar>
                <md-card-header-text>
                    <span class="md-title">Some component with a long name</span>
                    <span class="md-subhead">By SeedStack</span>
                </md-card-header-text>
            </md-card-header>
            <md-card-content>
                <p>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                </p>
            </md-card-content>
            <md-card-actions layout="row" layout-align="end center">
                <div>
                    56 <md-icon class="material-icons md-18">star</md-icon>
                </div>

            </md-card-actions>
        </md-card>
        <md-card flex="30" flex-xs="100" md-ink-ripple>
            <md-card-header>
                <md-card-avatar>
                    <img src="https://lh3.googleusercontent.com/UrY7BAZ-XfXGpfkeWg0zCCeo-7ras4DCoRalC_WXXWTK9q5b0Iw7B0YQMsVxZaNB7DM=w300">
                </md-card-avatar>
                <md-card-header-text>
                    <span class="md-title">Some component</span>
                    <span class="md-subhead">By Spotify</span>
                </md-card-header-text>
            </md-card-header>
            <md-card-content>
                <p>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                </p>
            </md-card-content>
            <md-card-actions layout="row" layout-align="end center">
                <div>
                    56 <md-icon class="material-icons md-18">star</md-icon>
                </div>

            </md-card-actions>
        </md-card>
        <md-card flex="30" flex-xs="100" md-ink-ripple>
            <md-card-header>
                <md-card-avatar>
                    <img src="https://upload.wikimedia.org/wikipedia/en/f/f2/Seesmic_Logo.png">
                </md-card-avatar>
                <md-card-header-text>
                    <span class="md-title">Some component</span>
                    <span class="md-subhead">By SeedStack</span>
                </md-card-header-text>
            </md-card-header>
            <md-card-content>
                <p>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                </p>
            </md-card-content>
            <md-card-actions layout="row" layout-align="end center">
                <div>
                    56 <md-icon class="material-icons md-18">star</md-icon>
                </div>

            </md-card-actions>
        </md-card>
        <md-card flex="30" flex-xs="100" md-ink-ripple>
            <md-card-header>
                <md-card-avatar>
                    <img src="https://git-scm.com/images/logos/downloads/Git-Logo-Black.png">
                </md-card-avatar>
                <md-card-header-text>
                    <span class="md-title">Some component</span>
                    <span class="md-subhead">By SeedStack</span>
                </md-card-header-text>
            </md-card-header>
            <md-card-content>
                <p>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                </p>
            </md-card-content>
            <md-card-actions layout="row" layout-align="end center">
                <div>
                    56 <md-icon class="material-icons md-18">star</md-icon>
                </div>

            </md-card-actions>
        </md-card>
        <md-card flex="30" flex-xs="100" md-ink-ripple>
            <md-card-header>
                <md-card-avatar>
                    <img src="http://www.creativejuiz.fr/blog/wp-content/uploads/2015/09/googles-new-logo.gif">
                </md-card-avatar>
                <md-card-header-text>
                    <span class="md-title">Some component</span>
                    <span class="md-subhead">By SeedStack</span>
                </md-card-header-text>
            </md-card-header>
            <md-card-content>
                <p>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                </p>
            </md-card-content>
            <md-card-actions layout="row" layout-align="end center">
                <div>
                    56 <md-icon class="material-icons md-18">star</md-icon>
                </div>

            </md-card-actions>
        </md-card>
        <md-card flex="30" flex-xs="100" md-ink-ripple>
            <md-card-header>
                <md-card-avatar>
                    <img src="http://thevisualcommunicationguy.com/wp-content/uploads/2013/11/Starbucks-Logo-051711.gif">
                </md-card-avatar>
                <md-card-header-text>
                    <span class="md-title">Some component</span>
                    <span class="md-subhead">By SeedStack</span>
                </md-card-header-text>
            </md-card-header>
            <md-card-content>
                <p>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                </p>
            </md-card-content>
            <md-card-actions layout="row" layout-align="end center">
                <div>
                    56 <md-icon class="material-icons md-18">star</md-icon>
                </div>

            </md-card-actions>
        </md-card>
        <md-card flex="30" flex-xs="100" md-ink-ripple>
            <md-card-header>
                <md-card-avatar>
                    <img src="https://www.seoclerk.com/pics/406697-1bUltv1446995494.png">
                </md-card-avatar>
                <md-card-header-text>
                    <span class="md-title">Some component</span>
                    <span class="md-subhead">By SeedStack</span>
                </md-card-header-text>
            </md-card-header>
            <md-card-content>
                <p>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                </p>
            </md-card-content>
            <md-card-actions layout="row" layout-align="end center">
                <div>
                    56 <md-icon class="material-icons md-18">star</md-icon>
                </div>

            </md-card-actions>
        </md-card>
        <md-card flex="30" flex-xs="100" md-ink-ripple>
            <md-card-header>
                <md-card-avatar>
                    <img src="http://media.corporate-ir.net/media_files/IROL/97/97664/images/amazon_logo_RGB.jpg">
                </md-card-avatar>
                <md-card-header-text>
                    <span class="md-title">Some component</span>
                    <span class="md-subhead">By SeedStack</span>
                </md-card-header-text>
            </md-card-header>
            <md-card-content>
                <p>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                </p>
            </md-card-content>
            <md-card-actions layout="row" layout-align="end center">
                <div>
                    56 <md-icon class="material-icons md-18">star</md-icon>
                </div>

            </md-card-actions>
        </md-card>
        <md-card flex="30" flex-xs="100" md-ink-ripple>
            <md-card-header>
                <md-card-avatar>
                    <img src="http://media.corporate-ir.net/media_files/IROL/97/97664/images/amazon_logo_RGB.jpg">
                </md-card-avatar>
                <md-card-header-text>
                    <span class="md-title">Some component</span>
                    <span class="md-subhead">By SeedStack</span>
                </md-card-header-text>
            </md-card-header>
            <md-card-content>
                <p>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                </p>
            </md-card-content>
            <md-card-actions layout="row" layout-align="end center">
                <div>
                    56 <md-icon class="material-icons md-18">star</md-icon>
                </div>

            </md-card-actions>
        </md-card>
        <md-card flex="30" flex-xs="100" md-ink-ripple>
            <md-card-header>
                <md-card-avatar>
                    <img src="http://media.corporate-ir.net/media_files/IROL/97/97664/images/amazon_logo_RGB.jpg">
                </md-card-avatar>
                <md-card-header-text>
                    <span class="md-title">Some component</span>
                    <span class="md-subhead">By SeedStack</span>
                </md-card-header-text>
            </md-card-header>
            <md-card-content>
                <p>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                </p>
            </md-card-content>
            <md-card-actions layout="row" layout-align="end center">
                <div>
                    56 <md-icon class="material-icons md-18">star</md-icon>
                </div>

            </md-card-actions>
        </md-card>
        <md-card flex="30" flex-xs="100" md-ink-ripple>
            <md-card-header>
                <md-card-avatar>
                    <img src="http://media.corporate-ir.net/media_files/IROL/97/97664/images/amazon_logo_RGB.jpg">
                </md-card-avatar>
                <md-card-header-text>
                    <span class="md-title">Some component</span>
                    <span class="md-subhead">By SeedStack</span>
                </md-card-header-text>
            </md-card-header>
            <md-card-content>
                <p>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                </p>
            </md-card-content>
            <md-card-actions layout="row" layout-align="end center">
                <div>
                    56 <md-icon class="material-icons md-18">star</md-icon>
                </div>

            </md-card-actions>
        </md-card>
        <md-card flex="30" flex-xs="100" md-ink-ripple>
            <md-card-header>
                <md-card-avatar>
                    <img src="http://media.corporate-ir.net/media_files/IROL/97/97664/images/amazon_logo_RGB.jpg">
                </md-card-avatar>
                <md-card-header-text>
                    <span class="md-title">Some component</span>
                    <span class="md-subhead">By SeedStack</span>
                </md-card-header-text>
            </md-card-header>
            <md-card-content>
                <p>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                </p>
            </md-card-content>
            <md-card-actions layout="row" layout-align="end center">
                <div>
                    56 <md-icon class="material-icons md-18">star</md-icon>
                </div>

            </md-card-actions>
        </md-card>
        <md-card flex="30" flex-xs="100" md-ink-ripple>
            <md-card-header>
                <md-card-avatar>
                    <img src="http://media.corporate-ir.net/media_files/IROL/97/97664/images/amazon_logo_RGB.jpg">
                </md-card-avatar>
                <md-card-header-text>
                    <span class="md-title">Some component</span>
                    <span class="md-subhead">By SeedStack</span>
                </md-card-header-text>
            </md-card-header>
            <md-card-content>
                <p>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                </p>
            </md-card-content>
            <md-card-actions layout="row" layout-align="end center">
                <div>
                    56 <md-icon class="material-icons md-18">star</md-icon>
                </div>

            </md-card-actions>
        </md-card>
    </div>

</div>