<md-dialog flex="70" aria-label="Add a component" ng-cloak>
    <form name="form" ng-submit="$ctrl.confirm($ctrl.repository)">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Add a component</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="$ctrl.cancel()">
                    <md-icon md-font-set="material-icons">close</md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content ng-hide="form.$submitted">
            <md-tabs md-selected="0" md-dynamic-height>
                <md-tab label="Import">
                    <md-content class="md-padding">
                        <div layout-gt-sm="row">
                            <md-input-container class="md-block" flex="20">
                                <label>Repository type</label>
                                <md-select ng-model="$ctrl.repository.vcs">
                                    <md-optgroup label="Repository type">
                                        <md-option ng-repeat="option in $ctrl.repositoryTypes">{{ option }}</md-option>
                                    </md-optgroup>
                                </md-select>
                            </md-input-container>
                            <md-input-container class="md-block" flex-gt-sm>
                                <label for="url">URL</label>
                                <input id="url"
                                       name="url"
                                       ng-model="$ctrl.repository.url"
                                       type="url"
                                       md-autofocus
                                       required
                                       vcs-url-validator
                                       repository="$ctrl.repository"/>
                                <div ng-messages="form.url.$error">
                                    <div ng-message="url">The URL does not appear to be valid.</div>
                                    <div ng-message="required">You did not enter a URL.</div>
                                    <div ng-message="isRepoUrl">The URL does not appear to be a valid .git URL.</div>
                                </div>
                            </md-input-container>
                        </div>
                    </md-content>
                </md-tab>
                <md-tab label="How to">
                    <md-content class="md-padding">
                        <h2 class="md-headline">Importing a component</h2>

                        <p>
                            To import a component you need to provide the URL to either a Git or SVN repository.
                            The repository must contain a component descriptor <code>seedstack-component.json</code>.
                        </p>

                        <p>
                            Example:
                        </p>
                        <code>
                            { <br>
                            &nbsp; "name": "Component name", <br>
                            &nbsp; "author": "Author of the component", <br>
                            &nbsp; "logo": "path/to/component/logo.(png|svg|jpg)", <br>
                            &nbsp; "docs": "path/to/docs/folder", <br>
                            &nbsp; "readme": "path/to/README.md", <br>
                            &nbsp; "source": "path/to/sources" <br>
                            } <br>
                        </code>
                    </md-content>
                </md-tab>
            </md-tabs>
        </md-dialog-content>
        <md-dialog-actions ng-hide="form.$submitted" layout="row">
            <span flex></span>
            <md-button ng-click="$ctrl.cancel()">
                Cancel
            </md-button>
            <md-button type="submit" class="md-primary" ng-disabled="form.$invalid" style="margin-right:20px;">
                Add component
            </md-button>
        </md-dialog-actions>
        <md-dialog-content ng-show="form.$submitted && !$ctrl.promise.$resolved" flex layout="row"
                           layout-align="center center">
            <md-progress-circular md-diameter="150px" class="md-hue-1t" md-mode="indeterminate"></md-progress-circular>
            Hold tight ! Your component is being added.
        </md-dialog-content>
        <md-dialog-content style="min-height: 150px;"
                           ng-show="form.$submitted && $ctrl.promise.$resolved && $ctrl.failure" flex layout="row"
                           layout-align="center center">
            <md-icon style="font-size: 130px; height: 130px; margin: 0 100px" class="material-icons">warning</md-icon>
            <p>An error occured. We could not import your component.</p>
        </md-dialog-content>
    </form>
</md-dialog>