<md-content layout-padding layout="row" id="home">
    <md-card flex="35">
        <md-card-header>
            <md-card-avatar>
                <img src="http://seedstack.org/img/logos/seedstack-logo-round.svg">
            </md-card-avatar>
            <md-card-header-text>
                <span class="md-title">Component one</span>
                <span class="md-subhead">By SeedStack</span>
            </md-card-header-text>
        </md-card-header>
        <md-card-content>
            <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
                standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to.
            </p>
        </md-card-content>
        <md-card-actions layout="row" layout-align="end center">
            <md-button class="md-raised md-primary">Details</md-button>
        </md-card-actions>
    </md-card>
    <md-card flex="35">
        <md-card-header>
            <md-card-avatar>
                <img src="https://lh3.googleusercontent.com/UrY7BAZ-XfXGpfkeWg0zCCeo-7ras4DCoRalC_WXXWTK9q5b0Iw7B0YQMsVxZaNB7DM=w300">
            </md-card-avatar>
            <md-card-header-text>
                <span class="md-title">Component one</span>
                <span class="md-subhead">By Spotify</span>
            </md-card-header-text>
        </md-card-header>
        <md-card-content>
            <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
                standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to.
            </p>
        </md-card-content>
        <md-card-actions layout="row" layout-align="end center">
            <md-button class="md-raised md-primary">Details</md-button>
        </md-card-actions>
    </md-card>
    <md-card flex="35">
        <md-card-header>
            <md-card-avatar>
                <img src="http://media.corporate-ir.net/media_files/IROL/97/97664/images/amazon_logo_RGB.jpg">
            </md-card-avatar>
            <md-card-header-text>
                <span class="md-title">Component one</span>
                <span class="md-subhead">By SeedStack</span>
            </md-card-header-text>
        </md-card-header>
        <md-card-content>
            <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
                standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to.
            </p>
        </md-card-content>
        <md-card-actions layout="row" layout-align="end center">
            <md-button class="md-raised md-primary">Details</md-button>
        </md-card-actions>
    </md-card>
</md-content>