<main layout-padding layout="column" id="search" hub-infinite-scroll on-bottom-reached="$ctrl.loadNewCards(criterias)" criterias="$ctrl.searchCriterias">
    <section ng-show="$ctrl.components.length >= 1" style="margin-bottom: 10px">
        <header layout="column">
            <div layout="row">
                <h3 class="md-title muted">Components <span class="md-subhead">{{ $ctrl.components.length }}/{{ $ctrl.resultSize }}</span></h3>
                <span flex></span>
                <a ng-href="/">
                    <md-button class="md-accent">
                        <md-icon aria-label="Menu" md-font-set="material-icons">home</md-icon> Home
                    </md-button>
                </a>
            </div>
            <div>
                <md-input-container>
                    <label>Sort</label>
                    <md-select ng-model="$ctrl.searchCriterias.sort" ng-change="$ctrl.onSortChange()">
                        <md-option value="NAME">Name</md-option>
                        <md-option value="DATE">Date</md-option>
                        <md-option value="STARS">Stars</md-option>
                    </md-select>
                </md-input-container>
            </div>
        </header>
        <section layout="row" layout-wrap layout-xs="column" layout-align="start center">
            <hub-card ng-repeat="card in $ctrl.components" card="card" on-click="$ctrl.view(card)"></hub-card>
        </section>
    </section>
    <section ng-show="$ctrl.resultSize < 1">
        <header layout="column">
            <h3 class="md-title muted">No results found</h3>
        </header>
    </section>
</main>