<main layout-padding layout="column" id="home">
    <section layout="column">
        <div layout="column" layout-align="center start">
            <h1 class="md-display-2" style="margin-bottom: 10px;"> SeedStack </h1>
            <h2 class="md-display-4" style="margin-top: 0; margin-bottom: 20px">
                <md-icon style="width: auto; line-height: 0; font-size: 112px" aria-label="Menu" md-font-set="material-icons">device_hub</md-icon>
                <span class="muted">HUB</span>
            </h2>
        </div>
        <md-divider></md-divider>
        <p class="md-headline">For developers to share components</p>
    </section>
    <section ng-if="$ctrl.recentComponents.length">
        <header layout="column">
            <h3 class="md-title muted">Recent</h3>
        </header>
        <section layout="row" layout-wrap layout-xs="column" layout-align="start center">
            <md-content class="md-whiteframe-1dp" flex>
                <md-list style="padding: 0">
                    <md-list-item ng-repeat-start="card in $ctrl.recentComponents" ng-click="$ctrl.viewCard(card)" class="md-2-line">
                        <img ng-src="{{ card.icon }}" err-src="src/img/default-component.png" style="width: 45px; margin-right: 10px">
                        <div class="md-list-item-text" layout="column">
                            <h3>{{ card.name }}</h3>
                            <h4 ng-if="card.releaseVersion">
                                {{ card.owner }} has published release {{ card.releaseVersion }} on {{ card.releaseDate | date }}
                            </h4>
                        </div>
                    </md-list-item>
                    <md-divider ng-repeat-end></md-divider>
                </md-list>
            </md-content>
        </section>
    </section>
    <section ng-if="$ctrl.popularComponents.length">
        <header layout="column">
            <div layout="row">
                <h3 class="md-title muted">Popular</h3>
                <span flex></span>
                <a ng-href="#!/hub/components">
                    <md-button class="md-accent">
                        <md-icon aria-label="Menu" md-font-set="material-icons">view_module</md-icon> All
                    </md-button>
                </a>
            </div>
        </header>
        <section layout="row" layout-wrap layout-xs="column" layout-align="start center">
            <hub-card ng-repeat="card in $ctrl.popularComponents" card="card" on-click="$ctrl.viewCard(card)"></hub-card>
        </section>
    </section>
    <section ng-if="!($ctrl.popularComponents.length > 0) && !($ctrl.recentComponents.length > 0)">
        <header layout="column">
            <h3 class="md-title muted">The hub is empty</h3>
        </header>
    </section>
</main>