<main layout-padding layout="column" id="home">
    <section ng-if="$ctrl.popularComponents.length > 0 && $ctrl.recentComponents.length > 0">
        <header layout="column">
            <div layout="row">
                <h3 class="md-title muted">Popular</h3>
                <span flex></span>
                <a ng-href="#!/hub/components">
                    <md-button class="md-accent">
                        <md-icon aria-label="Menu" md-font-set="material-icons">view_module</md-icon> All
                    </md-button>
                </a>
            </div>
        </header>
        <section layout="row" layout-wrap layout-xs="column" layout-align="center center">
            <hub-card ng-repeat="card in $ctrl.popularComponents" card="card" on-click="$ctrl.view(card)"></hub-card>
        </section>
        <header layout="column">
            <h3 class="md-title muted">Recent</h3>
        </header>
        <section layout="row" layout-wrap layout-xs="column" layout-align="center center">
            <hub-card ng-repeat="card in $ctrl.recentComponents" card="card" on-click="$ctrl.view(card)"></hub-card>
        </section>
    </section>
    <section ng-if="!($ctrl.popularComponents.length > 0) && !($ctrl.recentComponents.length > 0)">
        <header layout="column">
            <h3 class="md-title muted">The hub is empty</h3>
        </header>
    </section>
</main>