<main layout-padding layout="column" id="user-update">
    <div flex layout="row" layout-sm="column" layout-xs="column">
        <div flex="none">
            <md-button class="md-accent" hub-history-back>
                <md-icon md-font-set="material-icons">keyboard_backspace</md-icon>
                Back
            </md-button>
        </div>
    </div>

    <section layout="row" layout-wrap layout-xs="column" layout-align="center center">
        <md-content class="md-whiteframe-1dp" style="width: 100%">
            <md-toolbar>
                <div class="md-toolbar-tools">
                    <img ng-src="{{ $ctrl.user._links['users/icon'].href }}" err-src="src/img/default-user.png" class="md-avatar user-profile-icon" alt="User icon"/>
                    <h2>
                        {{ $ctrl.user.name }}
                    </h2>
                </div>
            </md-toolbar>
            <md-content style="min-height: 85px; overflow-x: hidden;">

            </md-content>
        </md-content>
    </section>
</main>